.red{
    height: 600px;
    background-color:red;
}
body{
    background-image: url("public/images/FOND_ACCUEIL1.png");
    margin: 0;
    padding: 0;
    position: relative;
}
html, body{
    height: 100%;
}
.navbar{
  margin: 4px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: white;
  color: #FFBFA0; 
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
}
.brand-tilte{
    font-size: 2rem;
    margin: 0rem;
}
.navbar-link ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-link li{
    list-style: none;
}
.navbar-link li a{
    text-decoration: none;
    color:  #FFBFA0; 
    padding: 1.5rem;
    display: block;
}
.navbar-link li:hover{
    background-color:#8FBC8F;
}

.text{
    padding-left: 180px;
    color: white;
    margin: -100px;
}
.options li{
    margin: 1px;
    padding-left: 80px;
    font-size: small;
}


footer{
    position: relative;
    background-color: #FFBFA0;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
}

.listeLi_Footer{
    list-style: none;
    font-size: 10px;
}