body{
 
  background-color:grey;
  margin: 0;
  padding: 0;
  position: relative;
}
html, body{
  height: 100%;
}
.navbar{
margin: 4px;
display: flex;
justify-content: space-between; 
align-items: center;
background-color: white;
color: #E9967A; 
position: fixed;
}
.brand-tilte{
  font-size: 2rem;
  margin: 0rem;
}
.navbar-link ul{
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-link li{
  list-style: none;
}
.navbar-link li a{
  text-decoration: none;
  color: #E9967A; 
  padding: 2rem;
  display: block;
}
.navbar-link li:hover{
  background-color:gray;
  
}

.text{
  padding-left: 180px;
  color: white;
  margin: -100px;
}
.options li{
  margin: 1px;
  padding-left: 80px;
  font-size: small;
}
.listeLi{
  list-style: none;  
  text-decoration: none; 
  display: block;
  align-items: center;
  margin-top: -190px;
  padding-left: 160px;
}

footer{
  position: relative;
  background-color: #E9967A;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.listeLi_Footer{
  list-style: none;
  font-size: 10px;
}